<div class='twmenu' ng-controller="MenuReposController">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" routerLink="/repos" href="/repos">CI Wallboard v3.0rc1</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a routerLink="/repos">All Repos <span class="sr-only">(current)</span></a></li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li> <a routerLink="/settings">Settings</a></li>
                            <li> <a routerLink="/project-settings">Project Settings</a></li>
                            <li> <a routerLink="/user-settings">User Settings</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li *ngFor="let project of projects;"> <a routerLink="/project/{{project.path}}">{{project.slug}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
