<div class="container-fluid row">
        <pending-item *ngFor="let build of pendingBuildsArray | arraySort"  [build]="build"></pending-item>
        <failed-item *ngFor="let build of failedBuildsArray | arraySort"  [build]="build"></failed-item>
        <success-item *ngFor="let build of successBuildsArray | arraySort"  [build]="build"></success-item>
</div>
