<div *ngIf="getBuild().isPassing()" class="build-item col {{getClasses()}}  {{index}}">
    <h2>
        <span *ngIf="getBuild().isPr(); then thenBlock else elseBlock"> ... </span>
        <ng-template #thenBlock>PR: {{getBuild().getPrnr()}}</ng-template>
        <ng-template #elseBlock>{{getBuild().getName()}}</ng-template>
    </h2>
    <div class="{{getBuild().getState() | stateClass}} ablock">
        <div class="'internal-container">
            <div>
                <img class="commiter" src="{{ getBuild().getCommit().getCommitterEmail() | gravatar }}">
            </div>
            <section class="large-view">
                <p class="lead">
                    <strong>{{getBuild().getCommit().getBranch()}}</strong>
                </p>

                <p>
                    Last successful build by {{getBuild().getCommit().getCommitterEmail()}}
                </p>

                <div class="truncate">
                    {{getBuild().getCommit().getMessage()}}
                </div>
            </section>
            <p>Build passed <span class="time" [attr.data-finished_at]="getBuild().getFinishedAt()">{{getBuild().getFinishedAt() | timeAgo}}</span>
                ago.</p>
            <span *ngIf="getBuild().getState() == 'manual'; then thenBlock;"> ... </span>
            <ng-template #thenBlock> <span ><strong>Waiting for manual action</strong></span></ng-template>
        </div>
    </div>
</div>